<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{book.getTitle}}</title>
    </head>
    <body>
        <h2>{{book.getTitle}}</h2>
        <h3>By {% for author in book.getAuthors %}
            {{author.getName}}
        {% endfor %}</h3>
    <form class="" action="/checkout/{{copy.getId}}" method="post">
        <button type="submit" name="button">Check This Book Out</button>
    </form>
    </body>
</html>
